.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin: 0;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}

.modal__close-btn {
  background-image: url(../images/close-btn.svg);
  position: static;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: #fff;
  color: #212121;
  opacity: 40%;
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
}

.modal__label:first-child {
  padding-top: 32px;
}

.modal__input {
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1px;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  font-size: 16px;
  line-height: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 628px) {
  .modal {
    padding: 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 16px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__label:first-child {
    padding-top: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
